html {
  height: 100%;
}

body {
  background-color: Gray;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

iframe {
  border: 3px solid Gray;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  border-radius: 10px;
}

section {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

h1, h2, h3 {
  color: white;
  text-shadow: 0 0 2px black;
}

a {
  color: gold;
  text-shadow: 0 0 2px black;
}

.main {
  margin-left: 150px;
}

.panel {
  background: DarkGray;
  margin: 15px;
  padding: 20px;
  box-shadow: 2px 2px 20px black;
  border-radius: 10px;
  border-style: none;
}

.col {
  flex-direction: column;
}

.row, .col {
  display: flex;
  flex-wrap: wrap;
}

.f1 {
  flex: 1;
}

.panel div.f1 {
  margin: 5px;
}

.txt {
  margin: auto 0;
}

.nav {
  display: block;
  margin: 0 0 auto 0;
  width: 150px;
  height: 100%;
  position: fixed;
  list-style: none;
  padding: 0;
  background: rgb(55, 55, 55);
  border: 1px DarkGray solid;
}

.nav li a {
  display: block;
  padding: 10px;
  border-bottom: 1px DarkGray solid;
}

.nav li.current {
  background: gold;
}

.nav li.current a {
  color: rgb(55, 55, 55);
  text-shadow: none;
}

.nav li a:hover {
  background: lightgray;
  color: gold;
  text-shadow: 0 0 1px black;
}